  <!DOCTYPE html>
  <html lang="en">

      <head>
        <%- content_for :title, "Heartfeels | User Sign In" -%>
  <!-- or -->
         <h1><%- content_for(:title, "Android Music Player with facial expression recognition") -%></h1>
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          
      
         <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto:400,100,300,500' %>



          <!-- CSS -->
           <%= stylesheet_link_tag    'user', media: 'all' %>
           <%= javascript_include_tag 'user'  %>
            <%= csrf_meta_tags %>
    

          <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
          <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
          <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
              <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
          <![endif]-->

          <!-- Favicon and touch icons -->
          <%= favicon_link_tag 'ico/favicon.ico' %>
     <!-- <link rel="shortcut icon" href="assets/images/ico/favicon.ico">-->

     <%= favicon_link_tag 'ico/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>
     <%= favicon_link_tag 'ico/apple-touch-icon-72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>
     <%= favicon_link_tag 'ico/apple-touch-icon-57-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>
    
      </head>

      <body>
     <!--   <div class="bg-image">-->
      <!-- Top menu -->
      <nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Welcome to Heartfeels</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="top-navbar-1">
            <ul class="nav navbar-nav navbar-right">
              <li>
               <span class="li-text">
             		 New to Heartfeels ?
                </span> 
                <a href="#"><strong>Register</strong></a> 
                <span class="li-text">
          
                </span> 
                <span class="li-social">
                 <!-- <a href="#"><i class="fa fa-facebook"></i></a> 
                  <a href="#"><i class="fa fa-twitter"></i></a> 
                  <a href="#"><i class="fa fa-envelope"></i></a> -->
                  <a href="#"><i class="fa fa-user"></i></a>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </nav>

          <!-- Top content -->
          <div class="top-content">
            
              <div class="inner-bg">
                  <div class="container">
                      <div class="row">
                          <div class="col-sm-7 text">
                              <h1><strong>Heartfeels</strong> Login</h1>
                              <div class="description">
                                <p>

                                </p>
                              </div>
                            
                          </div>
                          <div class="col-sm-5 form-box">
                            <div class="form-top">
                              <div class="form-top-left">
                                <h3>Login</h3>
                                  <p>Fill in the form below to have your session:</p>
                              </div>
                              <div class="form-top-right">
                                <i class="fa fa-pencil"></i>
                              </div>
                              </div>
                              <div class="form-bottom">
                               <%= form_tag(:action => 'attempt_login') do -%>
                            <!--<form role="form" action="" method="post" class="registration-form">-->

                           
                              <div class="form-group">
                              	<%= label_tag(:email)%><br>
                                  <!--<label class="sr-only" for="form-email">Email</label>-->
                                  <%= text_field_tag(:email)-%>
                                  <!--<input type="text" name="form-email" placeholder="Email..." class="form-email form-control" id="form-email">-->
                                </div>

                                <div class="form-group">
                                		<%= label_tag(:password)%><br>
                               <!--   <label class="sr-only" for="form-email">Password</label>-->
                                 <%= password_field_tag(:password)-%>
                                  <!--<input type="text" name="form-email" placeholder="Email..." class="form-email form-control" id="form-email">-->
                                </div>
                            

                               <%= submit_tag("Login", :class =>"btn", :type =>"submit")-%>  
                                  <%- end -%>
                              <!--  <button type="submit" class="btn">Sign me up!</button>-->
                           
                          </div>
                          </div>
                      </div>
                  </div>
              </div>
              
          </div>

       <!-- </div>-->
          <!-- Javascript -->
     
          
          <!--[if lt IE 10]>
              <script src="assets/js/placeholder.js"></script>
          <![endif]-->

      </body>

  </html>
